*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: black;
}
body{
    background-color: black;
}
.page{
    max-width: 1440px;
    margin: 0 auto;
    background-color: white;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* HEADER */
nav{
    height: 130px;
    width: 100%;

}
.liste-nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}
.item-nav{
    height: 100%;
    display: flex;
    line-height: 130px;
}
.item-nav:nth-child(1){
    width: 68%;
}
.item-nav a{
    padding: 0 20px;
}
.item-nav a:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}
.item-nav--bleu a{
    color: #0065FC;
    font-weight: bold;
}
/* MAIN */
main{
    padding: 0 50px;
    
}
h1{
    font-size: 1.4em;
}
p{
    line-height: 35px;
    padding-bottom: 10px;
}

/* SEARCH */
.search-bar{
    max-width: 420px;
    height: 50px;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    background-size: cover;
    border-left: none;
    border-right: none;
    margin-bottom: 30px;
}
.search-items{
    width: 100%;
    height: 100%;
    display: flex;
}
.box-icon{
    background-color:  #F2F2F2;
    border-radius: 15px 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 1.1em;
}
#search{
    width: 70%;
    border: none;    
}
::placeholder {
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    padding: 16px;
  }


.btn-search{
    width: 40%;
    border: none;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;
    color: white;
    font-size: 1em;
    font-weight: bold;    
}
.btn-search--mini{
    display: none;
}
/* FILTRES */

.filtres{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}
.filtres p{
    font-weight: bold;
}


.filtres-btn{
    height: 49px;
    width: auto;
    display: flex;    
    align-items: center;
    background-color: white;
    text-decoration: none;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    border-left: none;
    padding-right: 16px;
    font-size: 1em;
    font-weight: bold;
}
.filtres-btn i{
    background-color: #DEEBFF;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;    
    border-radius: 50%;
    margin-right: 16px;
    color: #0065FC;    
}





/* FOOTER */

footer{
    width: 100%;
    height: 220px;
    background-color: #F2F2F2;
    padding: 50px;

}
.box-footer{
    max-width: 1030px;
    height: 100%;
    display: flex;
    justify-content: space-between;

}
.item-footer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item-footer-nav{
    line-height: 15px;
}
.item-footer-li{
    margin: 20px 0;
}


/* MEDIA */

@media (max-width: 375px){
    .liste-nav{
        flex-wrap: wrap;
        padding: 20px 0 0 0;
    }
    .item-nav{
        width: 50%;
        height: 50%;
        line-height: 65px;
        justify-content: center;
    }
    .item-nav a{
        width: 100%;
    }
    .item-nav:nth-child(1){
        width: 50%;
        justify-content: start;
        order: 0;
        padding: 0 20px;
    }
    .item-nav:nth-child(2){
        order: 2;
    }
    .item-nav:nth-child(3){
        order: 3;
    }
    .item-nav:nth-child(4){
        order: 1;
        text-align: end;
        padding-right: 0px;
    }
    .item-nav a:hover{
        border-top: none;
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
    }
    .item-nav--bleu a:hover{
        border: none;
        color: #0065FC;
        font-weight: bold;
    }
    .item-padding--center a{
        padding: 0 0 0 40px;
    }
    /* MAIN */
    
    main{
    padding: 0 20px;
    }
    h1{
        padding-top: 35px;
    }
    p{
        padding-bottom: 35px;
    }

    /*SEARCH*/

    .btn-search{
        display: none;
    }
    .btn-search--mini{
        display: flex;
        align-items: center;
        padding: 20px;
        border: none;
        background-color: #0065FC;
        border-radius: 15px;
        font-size: 1.1em;        
    }
    .fa-search{
        color: white;
    }


/* FILTRES */

    .filtres{
        width: 100%;
        height: 200px;
    }
    .filtres-btn i{
        margin-right: 8px;
    }

    footer{
        height: 455px;
        padding: 50px 20px 20px 20px;
    }
    .box-footer{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .item-footer{
        width: 100%;
        height: auto;
    }

}